# Fuerza a GitHub a reconocer los archivos .razor como C#
*.razor linguist-language=C#

# Opcional: si usás .cshtml
*.cshtml linguist-language=C#

# Ignora archivos de configuración o paquetes que distorsionan estadísticas
*.json linguist-documentation
*.yml linguist-documentation
*.lock linguist-generated
